@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=PT+Serif&family=Stardos+Stencil:wght@700&display=swap');
html{
    scroll-behavior: smooth;
}
#img:hover{
    transform: scale(0.9);
    transition: 1s;
}
#img{
    transition: 1s;
}

.skill:hover{
    color: white;
    transition: 0.5s;
}
.skill{
    background: rgba(255,255,255,0);
    border: none;
    transition: 0.5s;
    text-decoration: none;
    color: black;
}
#style-2{
    border: 5px solid white;
    padding: 10px;
}

#navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
/* #port{
    border-bottom: 2px solid rgba(255,255,255,0);
}
#port:hover{
    border-bottom: 2px solid white;
    transition: 0.5s;
} */
#port::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s;
}

#port:hover::after {
    width: 100%;
    transition: width .3s;
}
#born{
    transition: 0.3s;
}
#born:hover {
    transform: translate(0, -10px);
  }



  .arrows {
    width: 60px;
    height: 72px;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }
  
  .arrows path {
    stroke: #ffffff;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }

  .icon{
    margin-top: 0;
    transition: 0.5s;
  }
  .icon:hover{
    margin-top: -10px;
    margin-bottom: 10px;
    transition: 0.5s;
    filter: drop-shadow(5px 5px 15px black);
  }
  #preloader{
    background:#000 url(images/giphy.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: 100;
    background-size: 220px;
  }

  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
  }
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }